<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
</head>
<body>
<p th:text="${page}"></p>
<form th:action="@{/content/update}" method="get">
    <input th:type="hidden" th:name="pageId" th:value="${page.id}">
    <button class="btn btn-warning">Update</button>
</form>

<form th:action="@{/content/delete}" method="post">
    <input th:type="hidden" th:name="pageId" th:value="${page.id}">
    <button class="btn btn-danger">Delete</button>
</form>
</body>
</html>
